.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  height: 30px;
  border: 3px solid black;
}

.nav__links {
  display: flex;
  height: 100%;
}

.nav__links a {
  text-decoration: none;
  color: black;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav__email {
  margin-right: 30px;
}

.current-route {
  background-color: rgb(175, 174, 174);
  border-left: 2px solid black;
  border-right: 2px solid black;
}